/* Universal Selector */
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* Body */
html,
body {
    width: 100%;
    height: 100%;
}

body {
    background:#f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: Arial, sans-serif;
}

/* Insta-Card */
#card{
    max-width: 360px;
    width: 100%;
    background:#fff;
    border-radius: 16px;
    overflow: hidden;
    box-shadow:0 10px 25px rgba(0,0,0,.15);
    position: relative;
    overflow: hidden;
}

/* Insta-Card > IMG */
#card > img{
    width: 100%;
    display: block;
    object-position: center;

} 

#card > i {
    color: #fff;
    /* color: red; */
    font-size: 75px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)scale(0);
    opacity: 0;
    transition: transform ease 0.3s;
}

/* Credit */
.credit{
    text-align:center;
    padding:10px;
    font-size:13px;
    color:#666;
    font-weight: 600;
}

.credit #made-by:hover{
    color:rgb(12, 12, 12);
    
}

.credit a{
    color:#000;
    text-decoration:none;
    font-weight:bold;
}
.credit a:hover{
    color: rgb(32, 192, 32);
    
    text-decoration:underline;
}

.credit #author:hover{
    color:rgb(39, 36, 209);
    
}   